/***Color schemes***/

//First scheme
    $white: #fff;
    $platinum: #E8E8E8;
    $gray: #BABABA;

//Second scheme
    $dark-salmon: #EE9480;
    $melon: #F4BAAE;
    $pale-pink: #FADFDA;

//Third scheme
    $ball-blue: #2AB7CA;
    $middle-blue: #77D1DD;
    $blue-lagoon: #B1E4EB;

//Fourth scheme
    $onyx: #333745;
    $spanish-gray: #8F9199;
    $lavender-gray: #C7C8CC;

//Fifth scheme
    $raising-black: #221D23;
    $nickel: #726F73;
    $silver-chalise: #AEACAF;

/**Typographys***/

//Font-family
    $raleway: 'Raleway', sans-serif;
    $open-sans: 'Open Sans', sans-serif;

//Font-weight
    $regular: 400;
    $bold: 700;

//Font-sizes
    $xxxxx-large: 50px;
    $xxxx_large: 45px;
    $xxx-large: 40px;
    $xx-large: 35px;
    $x-large: 30px;
    $large: 20px;
    $medium: 16px;
    $small: 14px;
    $x-small: 12px;



